*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;
}

.inp{
    width: 200px;
    height: 50px;
    font-size: 120%;
    margin-top: 170px;
    margin-left: 570px;
    background-color: white;
    border-radius: 20px;
}

